version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: library_management_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: librarymanagement
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - library_management_network

  pgadmin:
    image: dpage/pgadmin4:8
    container_name: library_management_pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'
    depends_on:
      - postgres
    networks:
      - library_management_network

  nest:
    container_name: library_management_api
    build:
      context: .
      dockerfile: Dockerfile
    command: npm run start:dev
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - /app/node_modules
    env_file:
      - .env
    depends_on:
      - postgres
    stdin_open: true
    tty: true
    networks:
      - library_management_network

volumes:
  postgres_data:

networks:
  library_management_network:
    driver: bridge
